* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5FFC6;
}

.aldeaDeLaHoja {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.ninja {
    border: .1rem solid black;
}

.ninja__nombre {
    text-align: center;
}

.ninja__foto {
    width: 150px;
    height: 100px;
}

@media (max-width: 600px) {
    body {
        background-color: #B4E1FF;
    }

    .aldeaDeLaHoja {
        flex-direction: column;
        align-items: center;
    }

    .ninja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: #AB87FF;
    }
}