body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.listaTarea {
    overflow-y: auto;
    align-items: center;
    place-content: center;
    align-content: center;
    margin-top: 25px;
    width: 300px;
    height: 400px;
}

.tareaPendiente {
    background-color: rgb(158, 163, 168);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    display: grid;
    place-content: center;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
}

.tareaCompleta {
    background-color: rgb(93, 182, 255);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    display: grid;
    place-content: center;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
}

.textoTarea{
    display: flex;
    align-items: center;
    display: grid;
    place-content: center;
}